body {
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 300%;
    background-color: black;
    text-align: center;
    margin: 0;
}